
@font-face {
    font-family: 'Futura';
    src: url('fonts/futura/futural.eot');
    src: url('fonts/futura/futural.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura/futural.woff') format('woff'),
         url('fonts/futura/futural.ttf') format('truetype'),
         url('fonts/futura/futural.svg#futural') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chunkfive';
    src: url('fonts/chunkfive/chunkfive.eot');
    src: url('fonts/chunkfive/chunkfive.eot?#iefix') format('embedded-opentype'),
         url('fonts/chunkfive/chunkfive.woff') format('woff'),
         url('fonts/chunkfive/chunkfive.ttf') format('truetype'),
         url('fonts/chunkfive/chunkfive.svg#chunkfive') format('svg');
    font-weight: normal;
    font-style: normal;

}

