html, body{
	height: 100%;
	height: 100%;
}


body{
	color:#fff;
	font-family: 'Futura', arial;
	margin: 0;
	background: #999;
}

a{
	color: #00c7ee;
}

header{
	height: 100px;
	background: #222;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 5;
	display: none;
}
	header nav{
		float: right;
		margin-top: 30px;
		margin-right: 50px;
	}

	header nav a{
		color:#fff;
		text-decoration: none;
		display: inline-block;
		margin: 0 20px;
		padding: 10px;
	}
		header nav a.active{
			background: #12c7ee;
		}

	header .logo{
		position: absolute;
		top: -10px;
		left: 50px;
		background: url(../img/sign.png) no-repeat;
		width: 287px;
		height: 126px;
		background-size: contain;
	}
section.main{
	min-height: 100%;
}

	.container{
		width: 960px;
		margin: 0 auto;
		max-width: 90%;
	}

	.page{
		padding: 120px 0 80px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		min-height: 100%;
	}

		.page h2{
			text-align: center;
			font: normal 30px chunkfive;
		}
	#home{
		text-align: center;
		font-family: 'Futura';
		color:#fff;
		/*background:  url(../img/index-bg.jpg) ;*/
		background: #fff;
		padding: 200px 0 200px;
		position: relative;
		transition: background 100ms;
	}

		#home .copy{
			position: absolute;
			z-index: 2;
			color: #13c6ee;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-moz-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			width: 100%;
		}
		#home h1{
			font: normal 80px chunkfive;
			margin:0;
			padding: 0;
		}

		#home h4{
			font-weight: normal;
			font-size: 20px;

		}
			#home h4 span{
				margin: 0 10px;
			}

			#home h2{
				font: normal 30px Futura;
			}

		#home .stand{
			background: url(../img/stand.png) no-repeat;
			background-size: contain;
			width: 180px;
			height: 500px;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);
			left: 50%;
			margin-left: -500px;
			z-index: 1
		}

	#about{
		text-align: center;
		color:#535859;
		background: #fff  url(../img/sponge-bg.jpg) ;
	}


		#about .container{
			font-size: 18px;
		}

		ul.what-i-do{
			padding: 0;
			list-style: none;
			margin: 0 -50px;
		}
			ul.what-i-do li{
				opacity: 0;
				background: #fff;
				width: 200px;
				height: 200px;
				margin: 0 10px;
				display: inline-block;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				font-size: 14px;
				position: relative;
				background: #12c7ee url(../img/index-bg.jpg) ;
				color: #fff;
				border: solid 10px #f1f1f1;
				box-shadow: 0px 2px 0px #ccc;
			}	
				ul.what-i-do li div{
					position: absolute;
					width: 100%;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					transform: translateY(-50%);
					padding: 20px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
				ul.what-i-do li h1{
					font: normal 22px 'chunkfive';
					margin: 0;
				}

				ul.what-i-do li p{
					margin: 0;
				}

	#experience.page{
		background: #13c6ee;
		min-height: 0 !important;
	}
	#experience .container:after{
		display: block;
		content: '';
		clear: both;
	}
		#experience .left{
			width: 40%;
			float: left;
		}		
			#experience .badge{
				float: right;
				width: 200px;
				height: 200px;
				border: solid 20px #fff;
				text-align: center;
				border-radius: 100%;
				padding: 30px;
				background: url('../img/index-bg.jpg');
				box-shadow: 0px 5px 0px #bbb;
				opacity: 0;
			}	
				#experience .badge span{
					font: 200px 'chunkfive', Arial;
					display: block;
					line-height: 160px;
					text-shadow: 2px 4px 0px #aaa;
				}
				#experience .badge sub{
					font: 30px 'chunkfive', Arial;
					display: block;
					text-shadow: 2px 4px 0px #aaa;
				}
		#experience .right{
			width: 60%;
			float: left;
			overflow-x:hidden;
		}

			#experience ul.exp{
				list-style: none;
			}

			#experience ul.exp > li{
				text-align: left;
				margin-bottom: 30px;
				border-left: 3px #fff solid;
				padding-left: 10px;
				opacity: 0;

			}
				#experience ul.exp > li h3{
					font-size: 18px;
					margin: 0;
					font-family: 'chunkfive', Arial;
					font-weight: normal;
					text-shadow: 1px 1px 0px #aaa;
				}
				#experience ul.exp > li h4{
					font-size: 20px;
					margin: 0;
					font-weight: normal;
				}
				#experience ul.exp > li span{
					font-size: 12px;
				}
	#skills{
		color:#fff;
		min-height: 400px;
		background:  #101010  url(../img/skills-bg.jpg) no-repeat center fixed;
		background-size: cover;
	}


		ul.skillset{
			list-style: none;
			padding: 0;
			text-align: center;
			margin: 0 -20px;
		}

			ul.skillset li{
				width: 40%;
				display: inline-block;
				margin-bottom: 30px;
				margin-left: 30px;
				margin-right: 30px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				text-align: left;
			}

				ul.skillset .title{
					font-size: 12px;
				}

				ul.skillset .score{
					display: block;
					border: solid 1px #12c7ee;
					padding: 2px; 
					margin-top: 5px;
					position: relative;
					width: 90%;
				}

					ul.skillset .score i{
						display: block;
						height: 5px;
						background: #12c7ee;
						position: relative;
						z-index: 2;
						-webkit-box-sizing:border-box;
						-moz-box-sizing:border-box;
						box-sizing:border-box;
						width: 1px;
						-webkit-transition: width 1s;
  						transition: width 1s;
					}
						ul.skillset .score span{
							font-style: normal;
							position: absolute;
							right: -30px;
							top: -6px;
							font-family: 'chunkfive';
							text-align:left;
						}


			ul.skillset li.overall{
						
			}
				ul.skillset li.overall .title{
					font-size: 18px;
				}
				ul.skillset li.overall .score i{
					height: 12px;
					border-radius: 0 0 0 0;
				}
				ul.skillset li.overall .score span{
					font-size: 30px;
					right: -50px;
					top: -10px;
				}



		ul.skillset:after{
			content: '';
			clear:both;
			position: relative;
			border: solid transparent;
		}

		ul.toolset{
			list-style: none;
			padding: 0;	
			margin: 0 auto;
			width: 700px;
			max-width: 80%;
			text-align: center;
		}

			ul.toolset li{
				display: inline-block;
				margin: 5px;
				background: #12c7ee;
				padding: 5px 7px;
			}

	#works{
		background:url(../img/gray-bg.jpg) ;
		color: #333;
	}

		#works p{
			text-align: justify;
		}

		ul.portfolio{
			list-style: none;
			padding: 0;
			margin-left: -20px;
			margin-right: -20px;
			text-align: center;
		}

			ul.portfolio li{
				display: inline-block;
				margin: 10px;
				border: solid 10px #fff;
				width: 200px;
				height: 150px;
				background-size: cover;
				background-position: top center;
				cursor: pointer;
			}


	footer{
		background: #111;
		padding: 20px;
		text-align: center;
		font-size: 18px;
	}

.lytebox{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	top:0;
	left: 0;
	display: none;
}

	.lytebox .popup{
		position: absolute;
		width: 80%;
		max-width: 700px;
		height: 80%;
		background: #ccc;
		padding: 10px;
		top:50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		border: 10px solid #fff;
	}

	.lytebox .content{
		background-color: #ccc;
		max-height: 100%;
		max-width: 100%;
		position: relative;
	}

	.lytebox .portfolio-img{
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		top:50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.lytebox .close{
		position: absolute;
		right: -10px;
		top: -30px;
		background: #fff;
		color: #000;
		padding: 5px;
		cursor: pointer;
		z-index: 2;
	}

@media(max-width: 1024px){

	#skills{
		background-attachment: scroll;
	}

	#works ul.portfolio{
		margin: 0 -30px;
	}
}
@media(max-width: 991px){
	header nav{
		margin-right: 10px
	}

	header nav a{
		margin: 0 10px
	}

	.page{
		padding-left: 50px;
		padding-right: 50px;
	}

	.container{
		max-width: 100%;
	}
	#home .stand{
		margin-left: -330px;
	}

		#about .what-i-do li{
			margin: 30px;
		}

	#skills ul.skillset{
		margin: 0 -30px;
	}

		#skills ul.skillset li{
			width: 44%;
			margin:0 10px 40px;
		}

	#works ul.portfolio li{
		width: 128px;
		border-width: 5px
	}
}

@media(max-width: 767px){
	header{
		display: none;
	}

	.page{
		padding: 30px 20px;
	}
	#home{
		padding: 100px 0;
	}

		#home h1{
			font-size: 40px;
		}

		#home h2{
			font-size: 25px;
		}

		#home .stand{
			margin-left: -140px;
			height: 90%;
		}

	#about ul.what-i-do{
		margin: 0;
	}

	#experience .left, #experience .right{
		float: none;
		width: 100%;
		display: block;
	}
		#experience .badge{
			float: none;
			width: auto;
			border: none;
			background: none;
			box-shadow: none;
		}
		
		#experience ul.exp{
			padding: 0;
		}


	#skills ul.skillset{
		margin: 0;
	}
		#skills ul.skillset li{
			width: 90%;
			margin: 0 0 30px;
		}

	#works ul.portfolio{
		margin: 0 -10px;
	}
	#works ul.portfolio li{
		width: 110px;
		height: 100px;
	}
}