@media (min-width: 992px) and (max-width: 1199px) {
	.features2-right {
		margin-top: 100px;
	}
	
	.features-title h3 {
		font-size: 25px;
	}
}


@media (min-width: 1200px) and (max-width: 1526px) {
	.features-box {
	    height: 580px;
	}
	.features-home-container {
	    margin-left: 0;
	    width: 100%;
	}
	.learnmorehome {
	    bottom: 40px;
	    position: absolute;
	}
}

@media (max-width: 1200px) {
	.features-box {
		margin-bottom: 30px;
	}
}

@media (max-width: 992px) {
	.footerlogo img {
		margin-bottom: 20px;
	}
	.locbottom {
	    margin-bottom: 30px;
	}
	.footerwidget {
    margin-bottom: 50px;
	}
}

@media (min-width: 390px) and (max-width: 767px) {
.supportbox {
    margin: 0 auto 50px;
    width: 300px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
	.tabtc {
		text-align: center;
	}
	
	.featuresimg {
		margin-bottom:80px;
	}
	
	.storefeatures .col-md-7 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.partners-sidebar {
		margin-bottom: 50px;
	}
	
	.supportbox {
		margin-bottom: 50px;
	}
	
	.supportbox img {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 996px) {
	.laptop-dummy {
		display: block;
	}
	
	.obj.laptop {
		position: absolute !important;
		top: 0px !important;
		bottom: auto !important;
	}
	
	nav ul li a {
		padding: 11px 23px;
	}
}

@media only screen and (min-width: 768px) {
	#header-wrap nav ul {
		display: block;
	}
	
	body .slicknav_menu {
		display: none;
	}
	
	#header-wrap .section-1 {
		height: 50px;
	}
	
	#header-wrap .section-2 {
		height: 40px;
	}
}

@media only screen and (max-width: 767px) {
	.pagecontent {
    margin-top: -90px;
	}
	.featurespage .aboutbox, .aboutuspage .aboutbox, .spacebox .aboutbox {
    margin: 0 15px;
	}
.section-3 ul {
    display: block !important;
    text-align: center;
	}
	.subpage-title {
    margin-top: 90px;
	}
	.locbottom .col-md-5 {
		text-align: left !important;
	}
	.locbottom img {
		display: inline-block;
		margin-bottom: 20px;
		margin-top: 30px;
		text-align: left;
	}
	
	.cardboard .inner-wrap h2 {
		font-size: 30px;
	}
	
	.cardboard .inner-wrap {
		font-size: 15px;
		max-width: 400px;
	}
	
	body.home-page {
		padding-top: 50px;
	}
	
	#header-wrap nav ul {
		display: none;
	}
	
	body .slicknav_menu {
		display: block;
	}
	
	.freefeat::before {
		color: #F36E21;
		content: "FREE";
		font-size: 13px;
	}
	
	.premfeat::before {
		color: #F36E21;
		content: "PREMIUM";
		font-size: 13px;
	}
	
	.pricingimg {
		margin-top: 30px;
	}
	
	.marginnside {
		margin: 0 15px;
	}
	
	.supportbox {
		margin-bottom: 50px;
	}
	
	.supportbox img {
		margin-bottom: 15px;
	}
	
	.mobtc { text-align: center;}
	
	.partners-sidebar {
		margin-bottom: 50px;
	}
	
	.subpage-title span {
		font-size: 16px !important;
		line-height: 1.5 !important;
	}
	
	.storefeatures .col-md-7 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.featuresimg {
		margin-bottom:80px;
	}
	
	.storefeatures {
		margin-bottom: 50px;
	}
	
	.subpage-title {
		font-size: 45px;
		letter-spacing: 1px;
		text-align: center;
	}
	
	.t65 {
		font-size: 45px;
	}
	
	.aboutbox {
		padding: 30px !important;
	}
	
	.subpage-title {
		letter-spacing: 1px;
		text-align: center;
	}
	
	.fullscreen { width: 100%; position: relative;}
	
	.t60 {
		font-size:40px;
	}
	
	.about-sub-title {
		font-size: 30px !important;
	}
	
	.locbottom {
		margin-bottom: 40px;
	}
	
	h3.aboutorangebottom {
		text-align: left;
	}
	
	#header-wrap .section-1 .top-bar {
		font-size: 0px;
	}
	
	#header-wrap .section-1 .logo-wrap {
		display: block;
		margin-bottom: 0;
		padding: 0px;
		vertical-align: top;
		width: 100%;
		padding-right: 110px;
	}
	
	#header-wrap .section-1 .logo-wrap img {
		max-width: 160px;
	}
	
	#header-wrap .section-1 .top-nav {
		float: none;
		display: block;
		text-align: left;
		vertical-align: top;
		margin-top: -30px;
	}
	
	#header-wrap .slicknav_nav {
		padding-top: 20px;
	}
	
	#header-wrap .section-1 .top-nav > a {
		display: none;
	}
	
	#header-wrap .section-1 .top-bar {
		padding: 10px;
	}
	
	#header-wrap .section-1 .top-bar a {
		margin: 0px;
	}
	
	.features-maintitle h2 {
		font-size: 35px;
		margin-bottom: 40px;
		margin-top: 0px;
	}
	
	.testim-wrap .testim-box.active .show-box, .testim-wrap .testim-box.active .hidden-box {
		display: block;
		width: auto;
	}
	
	.testim-wrap .testim-comm {
		margin-top: 20px;
	}
	
	.testim-wrap .testim-comm:before {
		-ms-transform: rotate(7deg);
		-webkit-transform: rotate(7deg);
		transform: rotate(90deg);
		top: 0px;
		left: 50%;
		margin-left: -11px;
		margin-top: -9px;
	}
	
	.testim-wrap .testim-box.active {
		width: auto;
	}
	
	.testim-wrap .testim-box.active .testim-name, .testim-wrap .testim-box.active .testim-profession, .testim-wrap .show-box, .testim-wrap .hidden-box {
		padding-right: 0px;
	}
	
	.testim-wrap .testim-box {
		width: auto;
		display: block;
		vertical-align: top;
		text-align: center;
		max-width: 250px;
		margin: 0px auto 20px;
	}
}


@media only screen and (max-width: 580px) {
.loginbottomlinks a::before {
    content: "";
}
.loginbottomlinks a {
	display: block;
	margin-top: 0px;
}
}


@media only screen and (max-width: 500px) {
	.loginpadding {
    padding: 0 30px;
}
	.cardboard .inner-wrap {
		max-width: 300px;
		margin-top: -40%;
		padding: 20px;
		vertical-align: middle;
		font-size: 14px;
	}
	
	.cardboard .inner-wrap h2 {
		font-size: 24px;
	}
}